/Assets/_Barking_Dog
/Assets/CGY_ATM
/Assets/FreeOpenBuilding_1.1.2
/Assets/FastMesh
/Assets/Scenes/ZNS3D
/Assets/Plugins
/Assets/Resources
/Assets/Unity.VisualScripting.Generated
/Assets/Scenes
/Assets/XR
/Library
/Logs
/ProjectSettings
/UserSettings
/.vs
/Temp
